body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif!important;
}

#MainContainer {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  margin: auto;
  text-align: center;
}



button[class^="MuiButtonBase-root"]:hover {
  color: white;
  background: #35b9d0a2;
  transform: translateY(-5px);
}

button:focus, span:focus, div:focus {
  outline: none!important; 
}

.row {
  justify-content: center;
}

li[class^="MuiButtonBase-root"]:hover {
  background-color: white!important;
  color: #35b9d0a2!important;
  text-decoration: none!important;
}

li[class^="MuiButtonBase-root"] a { /*Navmenu link*/
  color: #35b9d0a2!important;
  text-decoration: none!important;
}

#simple-menu li:hover a, li[class^="MuiButtonBase-root"]:hover{
  color: white!important;
  background: #35b9d0!important;
  
}


#simple-menu div, #dropdown, #gender-mix {
  padding-top: 2em;
  background: #ffffff!important;
  color: #35b9d0a2;
  border: 1px solid black!important;
}

#menu-button {
  margin-left: 2em;
  transition: all 0.5s;
}

#menu-button:hover{
  color: white!important;
}


.instructions-primary {
  display: flex;
  justify-content: center;
  background: #412d3c57;
  color: #FFD951;
  margin: auto;
  font-size: 1.2em;
  padding: 1em;
}

.no-data-prompt {
  position: absolute;
  width: 100%;
}

.buttons-wrapper, .form-wrapper {
  padding: 1em; /*add margin 1em to children for spacing */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons-wrapper button {
  color: #35b9d0a2;
  background: white;
  width: 150px!important;
  height: 60px!important;
  border: 1px solid transparent;
  font-size: 1.3em!important;
  font-family: 'Josefin Sans', sans-serif;
  margin: 1em;
  text-transform: lowercase!important;
  transition: all 0.3s;
}

.buttons-wrapper button:hover {
  transform: translateY(-5px);
  background: #35b9d0a2;
  color: white;
}

.form-wrapper button, .link-primary {
  padding: 1em;
  border-radius: 0;
  width: 100%;
  background: white!important;
  color: #35b9d0a2;
  transition: all 0.3s;
  align-self: center;
}

.form-wrapper button:hover, .link-primary:hover, .login-link:hover, #dropdown button:hover, #gender-mix button:hover  {
  color: white!important;
  background: #35b9d0a2!important;
  transform: translateY(-5px);
}

#disabled-button:hover { /*no user loged in, disable find match button */
  transform: scale(1)!important;
  color: #ff535c!important;
  font-weight: bold;
  
}
.form-wrapper button:active, .buttons-wrapper button:active {
  background: white;
  color: greenyellow;
}


.photo-credentials {
  opacity: 0.5;
  color:  white;
  font-size: 0.5em;
}




