body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  object-fit: cover;
}

.loading {
  margin: auto;
  color: #EE6562;
  animation: loadingAnimation 2s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 20%;
  left: 20%;
}

a {
  color:#EE6562!important;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5;
}

a:hover {
  color: rgb(238, 236, 98);
  font-size: 1.03em;
}

#MainContainer {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  position: absolute;
  margin: auto;
  text-align: center;
}

header[class^='MuiPaper-root'] {
  background: #d0353d;
}

button[class^="MuiButtonBase-root"]:hover {
  background-color: #d0353d;
}

.row {
  margin-right: 0px!important; 
  margin-left: 0px!important;
}

button[class^="MuiButtonBase-root"]:hover {
  background-color: #d0353d;
}

li[class^="MuiButtonBase-root"]:hover {
  background-color: #FFD951;
}

#menu-button {
  transition: all 0.5s;
}

#menu-button:hover, .login-link:hover{
  padding: 5px;
  background-color: #FFD951;
  color: #d0353d!important;
}

.login-link:hover {
  transition: all 0.5s;
}

.landing-page, .login-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: rgb(238,101,98);
  background: linear-gradient(180deg, rgba(238,101,98,1) 50%, rgba(65,45,60,1) 50%);
  color: #EE6562;
  z-index: 0;
}

.white-box {
  margin: auto;
  margin-top: 15%;
  background-repeat: no-repeat;
  width: 30%;
  height: 60%;
  background-color: rgb(222, 57, 65);
  color: #412d3c;
  font-weight: bold;
  text-align: justify;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 3%;
  animation: animateWhiteBox 0.5s cubic-bezier(0,0,1,1);
}

.white-box h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #d0353d;
  font-size: 2.8rem;
  animation: revealTitle 2s;
  animation-fill-mode: forwards;
}

.white-box p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.white-box a, .navbar-brand a {
  font-size: 1rem;
  color: white;
}

.white-box a:hover{ 
  color: #FFD951!important;
  text-decoration: none;
}

.login-page {
  text-align: center;
}

.google-button{
  color: rgb(255, 255, 255);
  width: 125px!important;
  height: 125px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  border: 1px solid transparent;
  font-size: 1.3em!important;
  font-weight: bold;
}

.image-holder {
  justify-content: center;
  display: flex;
  background-position-y: 57%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1517457373958-b7bdd4587205?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f9b9cb51ea58b136b1ccfc012192afcc&auto=format&fit=crop&w=1050&q=80);
  height: 100vh;
  width: 100%;
}

.input-group {
  height: 15%;
  margin-top: 30%!important;
  color: white!important;
  position: relative;
  align-content: center;
}

.kep-login-facebook {
  background-color: #4267b2!important;
  width: 125px!important;
  height: 125px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}

.MediaCard-card-61 {
  margin: auto;
  margin-top: 1%;
}

.col-lg-8, .col-md-10 {
  max-width: 80%!important;
  margin: auto;
  margin-top: 1%;
}

form label {
  color: white!important;
}

.dropdown {
  float: right;
  border-bottom: 1.5px solid!important;
  border-bottom-color: #0000005b!important;
  height: 90%;
}

.dropdown::after {
  float: right;
  border-bottom:  2px solid #303f9f;
  height: 90%;
}

.dropdown p {
  display: inline-block;
  color: black;
}

.dropdown > button {
  border: 0;
  color: black;
  padding: 0;
  float: right;
  background: white;
}

#results-cards {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap ;
  transition: all 1s;
  overflow: hidden;
}

#results-cards div {
  flex-grow: 1;
  display: grid;
  opacity: 0.8;
  transition: all 1s;
}

#results-cards  div:hover{
  transform: scale(1.01);
  opacity: 1.051;
}

#clubs-search, #how-many, #budget-dropdown, #restaurants-search {
  color: black!important;
}

#search-activity-form  label {
  color: black!important;
}

#search-activity-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #ffffff;
  padding: 1em;
  width: 100%;
}

.sarch-separator {
  width: 1px;
  height: 80%;
  background: #00000050;
}

.add-activity {
  right: 0.5em;
  position: absolute;
  background: #EE6562;
  color: #FFD951;
  border-color: #FFD951;
  border: 1px solid;
  transition: all 0.3s;
}

.add-activity:hover, .add-activity:active {
  color: #EE6562;
  background: #FFD951;
  border-color: #EE6562;
  transform: scale(1.1);
}

@keyframes animateWhiteBox {
  0% {
    background: rgb(222,57,65);
    height: 10%;
    transform: scale(1.05);
    border: 3px solid;
    border-color: #00000054;
    padding: 10%;
    color: #412d3c;
  }
  
  50% {
    background: #412d3c;
    height: 60%;
    transform: scale(1.1);
    border: 6px solid;
    border-color: #00000054;
    padding: 5%;
    color: #412d3c;
    
  }
  
  100% {
    background: rgb(222,57,65);
    height: 60%;
    transform: scale(1);
    border: none;
  }  
}

@keyframes expandShadows {
  0% {
    height: 29%;
    transform: scale(1.3);
  }
  
  50% {
    height: 100%;
  }
  
  100% {
    height: 100%;
    transform: scale(1.1);
  }
}

@keyframes animateBackground {
  0% {
    background: rgb(238,101,98);
    background: linear-gradient(180deg, rgba(238,101,98,1) 10%, rgba(65,45,60,1) 10%);
  }
}

@keyframes revealTitle {
  100% {
    color: white;
  }
}

@keyframes loadingAnimation {
  0% {
    transform: scale(1.2);
  }
  
  50% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(1.2);
  }
}