body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif!important;
}

.loading {
  margin: auto;
  color: #EE6562;
  animation: loadingAnimation 2s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 20%;
  left: 20%;
}

#MainContainer {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  position: absolute;
  margin: auto;
  text-align: center;
}

header[class^='MuiPaper-root'] {
  background: #412d3c;
}

button[class^="MuiButtonBase-root"]:hover {
  color: white;
  transform: scale(1.05);
}

button:focus, span:focus, div:focus {
  outline: none!important; 
}

.row {
  justify-content: center;
}

li[class^="MuiButtonBase-root"]:hover {
  background-color: #FFD951!important;
  color: white!important;
  text-decoration: none!important;
  
}

li[class^="MuiButtonBase-root"] a { /*Navmenu link*/
  color: #ffd951!important;
  text-decoration: none!important;
}

li[class^="MuiButtonBase-root"]:hover a{
  color: white!important;
}

#simple-menu div, #dropdown, #gender-mix {
  padding-top: 2em;
  background-color: #412d3c57!important;
}

#menu-button {
  margin-left: 2em;
  transition: all 0.5s;
}

#menu-button:hover{
  color: white!important;
}


.instructions-primary {
  display: flex;
  justify-content: center;
  background: #412d3c57;
  color: #FFD951;
  margin: auto;
  font-size: 1.2em;
  padding: 1em;
}

.no-data-prompt {
  position: absolute;
  font-size: 2em;
  width: 100%;
}

.buttons-wrapper, .form-wrapper {
  padding: 1em; /*add margin 1em to children for spacing */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons-wrapper button {
  color: rgb(255, 255, 255);
  width: 150px!important;
  height: 60px!important;
  border: 1px solid transparent;
  font-size: 1.3em!important;
  font-family: 'Josefin Sans', sans-serif;
  margin: 1em;
  text-transform: lowercase!important;
  transition: all 0.3s;
}

.buttons-wrapper button:hover {
  transform: scale(1.01)
}

.form-wrapper button, .link-primary {
  padding: 1em;
  border-radius: 0;
  width: 100%;
  background: #FFD951!important;
  color: #d0353da2;
  transition: all 0.3s;
  align-self: center;
}

.form-wrapper button:hover, .link-primary:hover, .login-link:hover, #dropdown button:hover, #gender-mix button:hover  {
  color: white!important;
  transform: scale(1.05);
  background: rgba(255, 217, 81, 0.562)!important;
}

#disabled-button:hover { /*no user loged in, disable find match button */
  transform: scale(1)!important;
  color: #d0353d!important;
  
}
.form-wrapper button:active, .buttons-wrapper button:active {
  background: white;
  color: greenyellow;
}


.photo-credentials {
  opacity: 0.5;
  color:  white;
  font-size: 0.5em;
}




