
.activities-page {
  flex-direction: column;
  justify-content: center;
  display: flex;
  background: black;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.all-activities-container {
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  min-height: 90%;
  min-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.matched-activities-container, .unmatched-activities-container {
  max-width: 50%;
  min-width: 50%;
  min-height: 80%;
  max-height: 80%;
  overflow-y: overlay;
  margin: 5% 0 1% 0;
  color: white;
  background: #0e0e0e;
}

.unmatched-activities-container h2, .matched-activities-container h2 {
  color: white;
  width: 45%;
  background: black;
  position: fixed;
  text-align: left;
}

.unmatched-activities-container h3, .matched-activities-container h3 {
  background: #d35454;
  margin: 10% 0 0 0;

}

.matched-activities-container button, .unmatched-activities-container button{
  margin: 2% 0;
}

.matched-item, .unmatched-item {
  max-width: 80%;
  min-width: 80%;
  list-style: none;
  text-align: left;
  margin: 1% auto 2% auto;
  overflow-x: hidden;
  padding: 0;  
}

.matched-item li, .unmatched-item li {
  padding: 1%;
  background: #a2476c!important;
}

/* ==============MOBILE SCREENS============== */
@media (max-width: 768px) {
  .activities-page {
    height: auto;
  }
  
  .all-activities-container {
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
  }
  
  .matched-activities-container, .unmatched-activities-container {
    min-width: 100%;
    max-width: 100%;
    max-height: 50%;
    min-height: 50%;
    /* margin: 5% 0 1% 0; */
    padding: 1%;
  }
  
  .unmatched-activities-container h2, .matched-activities-container h2 {
    position: relative;
    min-width: 99%;
    max-width: 90%;
  }
}