
.activities-page {
  flex-direction: column;
  justify-content: center;
  display: flex;
  background: rgb(255,0,83);
  background: -moz-linear-gradient(180deg, rgba(255,0,83,1) 6%, rgba(86,27,121,1) 44%, rgba(0,0,0,1) 82%);
  background: -webkit-linear-gradient(180deg, rgba(255,0,83,1) 6%, rgba(86,27,121,1) 44%, rgba(0,0,0,1) 82%);
  background: linear-gradient(180deg, rgba(255,0,83,1) 6%, rgba(86,27,121,1) 44%, rgba(0,0,0,1) 82%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0053",endColorstr="#000000",GradientType=1);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.all-activities-container {
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  min-height: 90%;
  min-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.matched-activities-container, .unmatched-activities-container {
  max-width: 50%;
  min-width: 50%;
  min-height: 100%;
  max-height: 100%;
  overflow-y: overlay;
  margin: 2em 1em ;
  color: white;
}

.matched-activities-container {
  padding: 1em;
  background: #00000061;
}

.unmatched-activities-container {
  padding: 1em;
  background: #ffffff4f;
}

.unmatched-activities-container h2, .matched-activities-container h2 {
  color: white;
  width: 80%;
  background: black;
}

.matched-item, .unmatched-item {
  max-width: 90%;
  min-width: 90%;
  list-style: none;
  text-align: left;
  padding: 1em;
  margin: 5px auto;
  overflow-x: hidden;
  transition: all 0.4s;
}

.matched-item {
  padding: 2%;
}
.matched-item:nth-child(even), .unmatched-item:nth-child(odd) {
  background: #0000003b;
  color: white!important;
}

.matched-item:nth-child(odd), .unmatched-item:nth-child(even) {
  background: #ffffff4f;
  color: white;
}


/* ==============MOBILE SCREENS============== */
@media (max-width: 768px) {
  .activities-page {
    height: auto;
  }
  
  .all-activities-container {
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
  }
  
  .matched-activities-container, .unmatched-activities-container {
    min-width: 100%;
    max-width: 100%;
    max-height: 50%;
    min-height: 50%;
    margin: 10% auto;
    padding: 1%;
  }
  
  .matched-activities-container {
    background-attachment: fixed;
    background: rgb(15,234,255);
    background: -moz-linear-gradient(187deg, rgba(15,234,255,1) 0%, rgba(85,154,255,1) 70%);
    background: -webkit-linear-gradient(187deg, rgba(15,234,255,1) 0%, rgba(85,154,255,1) 70%);
    background: linear-gradient(187deg, rgba(15,234,255,1) 0%, rgba(85,154,255,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0feaff",endColorstr="#559aff",GradientType=1);
  }
  
  .unmatched-activities-container{ 
    background-attachment: fixed;
    background: rgb(201,228,222);
    background: -moz-linear-gradient(6deg, rgba(201,228,222,1) 14%, rgba(0,84,168,1) 52%, rgba(85,154,255,1) 80%);
    background: -webkit-linear-gradient(6deg, rgba(201,228,222,1) 14%, rgba(0,84,168,1) 52%, rgba(85,154,255,1) 80%);
    background: linear-gradient(6deg, rgba(201,228,222,1) 14%, rgba(0,84,168,1) 52%, rgba(85,154,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9e4de",endColorstr="#559aff",GradientType=1);
  }
}