
.login-prompt {
  position: absolute;
  left: 25%;
  background: #e0dddd63;
  color: #45456f;
  padding: 2em;
  animation: floatText 1s linear infinite;
}

.activities-page {
  flex-direction: column;
  justify-content: center;
  display: flex;
  background-position-y: 57%;
  background-repeat: no-repeat;
  background-size: cover;
  background: white;
  height: 100vh;
  width: 100%;
}

.all-activities-container {
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  min-height: 90%;
  min-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.matched-activities-container, .unmatched-activities-container {
  max-width: 50%;
  min-width: 50%;
  min-height: 100%;
  max-height: 100%;
  overflow-y: overlay;
  margin: 2em 1em ;
}

.matched-activities-container {
  padding: 1em;
  color: white;
  background: #0093ff;
}

.unmatched-activities-container {
  padding: 1em;
  background: rgb(188, 219, 223);
  color: #45456f;
}

.unmatched-activities-container h2 {
  color: black;
}
.matched-item, .unmatched-item {
  max-width: 90%;
  min-width: 90%;
  list-style: none;
  text-align: left;
  padding: 1em;
  margin: 5px auto;
  overflow-x: hidden;
  transition: all 0.4s;
}

.matched-item:nth-child(even), .unmatched-item:nth-child(odd) {
  background: black;
  color: white!important;

}

.matched-item:nth-child(odd), .unmatched-item:nth-child(even) {
  background: white;
  color: #0f516b;
}

.matched-item:hover, .unmatched-item:hover {
  transform: translateY(10px)
}