/* =====LANDING PAGE====== */
@keyframes animateWhiteBox {
  0% {
    background: black;
    color: #401801;
  }
  
  100% {
    background-color: rgba(255, 49, 59, 0.24);
  }  
}

@keyframes expandShadows {
  0% {
    height: 29%;
    transform: scale(1.3);
  }
  
  50% {
    height: 100%;
  }
  
  100% {
    height: 100%;
    transform: scale(1.1);
  }
}


@keyframes revealTitle {
  100% {
    color: white;
  }
}

@keyframes loadingAnimation {
  0% {
    transform: scale(1.2);
  }
  
  50% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(1.2);
  }
}

@keyframes slideFirstChild {
  0% {
    transform: translateX(10vw);
    filter: grayscale(1);
    
  }
  
  100% {
    width: 33.3%;
    left: 0
  }
}

@keyframes slideSecondChild {
  0% {
    transform: translateX(10vw);
    filter: grayscale(1);
    filter: opacity(0);
    
  }
  
  100% {
    left: 33.3%
  }
}

@keyframes slideThirdChild {
  0% {
    transform: translateX(-20vw);
    filter: grayscale(1);
  }
  
  100% {
    filter: grayscale(0);
  }
}


/* =====ACTIVITIES PAGE====== */

@keyframes floatText {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}


@keyframes zoomInBg {
  0% {
    background: black;
    transform: translatey(-300px)
  }

  100% {
  background: rgba(255, 255, 255, 0.555);
  }
}