
.home-container {
  background-image: url("https://images.unsplash.com/photo-1522307837370-cc113a36b784?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dee1a11ba4c3f3dd05f512827d44ce33&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  alt: "Photo by Vladislav Todorov on Unsplash"
}

.image-holder {
  justify-content: center;
  display: flex;
  background-position-y: 57%;
  height: 70vh;
  width: 100%;
}

.display-modal {
  position: absolute;
  top: 16%;
  left: 1em;
}

.input-group {
  height: 15%;
  margin-top: 30%!important;
  color: white!important;
  position: relative;
  align-content: center;
}

.MediaCard-card-61 {
  margin: auto;
  margin-top: 1%;
}

.col-lg-8, .col-md-10 {
  max-width: 80%!important;
  margin: auto;
  margin-top: 1%;
}

.col-md-10 {
  flex: 1 1 100px!important;
  min-height: 700px;
  max-height: 700px;
  min-width: 25%;
  max-width: 25%!important;
}

.card {
  max-width: 100%;
  min-width: 100%;
  height: 600px;
  background: #f1feff;
  color: #848282;
}


.col-md-10:hover {
  transform: translateY(2px)
}

form label {
  color: white!important;
}

.dropdown { /*class dropdown, ocntainer of the $ button which then displays the #dropdown list, with .dropdown-items */
  
  border-bottom: 1.5px solid!important;
  border-bottom-color: #0000005b!important;
  height: 89%;
}

.dropdown p {
  display: inline-block;
  color: black;
}

.dropdown > button {
  border: 0;
  padding: 0;
  background: #ffffff!important;
  color: #35b9d0;
}

#dropdown button, #gender-mix button {
  background: #ffffff!important;
  color: #35b9d0;
}


/* LIST OF MATCHES */
.view-groups {
  list-style: none;
  transition: all 1s;
  width: 106%;
  color: #d3f9f7;
  font-size: 0.8rem;
  background: #0060d8;
  height: 100%;
  padding: 2em;
  overflow: overlay;
}

.view-groups li {
  padding: 1em 0;
}

.groups-list {
  list-style: none;
}

.results-cards {
  margin: auto;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  transition: all 0.4s;
  overflow: hidden;
  background-attachment: fixed;
}

.results-cards div {
  display: flex;
  transition: all 0.4s;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.results-cards card {
  width: 25%;
}

#SEARCH_VENUE, #how-many, #restaurants-search {
  color: black!important;
}

#search-activity-form  label {
  color: black!important;
}

#search-activity-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #ffffff;
  padding: 1em;
  width: 100%;
}

.sarch-separator {
  width: 1px;
  height: 80%;
  background: #00000050;
}

.result-icon {
  vertical-align: middle;
  border-style: none;
  width: 1em;
  background: #35b9d0;
  border-radius: 12px;
}

.menu-icon {
  vertical-align: middle;
  border-style: none;
  width: 1em;
  background: transparent;
}


.add-activity, .delete-activity {
  border: none;
  right: 0.5em;
  position: absolute;
  background: white;
  color: #35b9d0;
  transition: all 0.3s;
}


.create-activity {
  align-self: baseline;
  width: 60%;
  margin: auto;
  border: none;
  right: 0.5em;
  background: white;
  color: #35b9d0!important;
  transition: all 0.3s;
}

/* in popup */
.create-activity-secondary {
  width: 60%;
  border: none;
  background: white;
  color: #35b9d0!important;
  transition: all 0.3s;
  margin: 1em auto;
  padding: 1em;
}

.confirmation-container {
  overflow-x: hidden;
}

.confirmation-container, .confirmation-container div {
  width: 100%;
}

.confirmation-container img {
  width: 100%!important;
  max-height: 25%!important;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  object-fit: cover;
}

.add-activity:hover, .delete-activity:hover, .create-activity:hover, .create-activity-secondary:hover{
  color: white!important;
  background: #35b9d0;
  transform: translateY(-5px);
}

.add-activity:active, .delete-activity:active, .create-activity:active {
  background: white;
  color: greenyellow;
}

