
.home-container {
  height: 100%;
  background: rgb(0,0,0);
}

.image-holder {
  background: url(https://image.shutterstock.com/z/stock-photo--party-people-rock-concept-crowd-happy-and-joyful-in-club-celebration-party-festival-happiness-722111746.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  display: flex;
  height: 90vh;
  width: 100%;
}

/* ========================SEARCH SECTION ======================== */

#SEARCH_VENUE, #how-many, #restaurants-search {
  color: #98806e!important;
}

#search-activity-form  label {
  color: #ffa13d!important;
  background: black;
  margin: 0;
}

#search-activity-form  input {
  border: none;
  width: 90%;
  margin: 0 auto;
  color: #98806e;
}

#search-activity-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #ffffff;
  padding: 1em;
  width: 60vw;
}

.field-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  border-bottom: 1px solid;
}

input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

input#myInput::-webkit-calendar-picker-indicator { 
  display: none 
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#budget-selected, #gender-selected {
  margin: 0;
}
.sarch-separator {
  width: 1px;
  height: 100%;
  background: #00000050;
}


.menu-icon {
  vertical-align: middle;
  border-style: none;
  width: 1em;
  background: transparent;
}
.input-group {
  height: 15%;
  margin-top: 30%!important;
  position: relative;
  align-content: center;
}


.dropdown { 
  /*class dropdown, ocntainer of the $ button which then displays 
  the #dropdown list, with .dropdown-items */
  height: 100%;
}

.dropdown p {
  display: inline-block;
  color: #98806e;
}

.dropdown button {
  border: 0;
  padding: 0;
  background: black;
}

.dropdown button:hover {
  background: black;
}
#gender-mix {
  top:2%!important;
}
/* ======================== */

/*====================== LIST OF MATCHES===================== */
.match-top-buttons {
  display: flex;
  flex-direction: column;
  position: relative;
}

.match-top-buttons .button-secondary {
  width: 45%;
  height: 30px;
  margin: auto;
}

.match-top-buttons .material-icons {
    width: 20%;
    font-size: 2em;
    transition: all .3s;
    position: absolute;
    right: 0;
    top: 0;
}

.match-top-buttons .material-icons:hover {
  transform: scale(1.3);

}

.result-wrap {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 2% 1%;
  position: relative;
  justify-content: center;
  min-height: 700px;
  max-height: 700px;
}

.match-title {
  color: white;
}

.result-column {
  margin: 0;
  padding: 0;
  top: 5px;
  position: absolute;
}

.view-groups {
  list-style: none;
  transition: all 1s;
  width: 100%;
  color: #d3f9f7;
  font-size: 0.8rem;
  height: 100%;
  padding: 2%;
  overflow: hidden;
}

.view-groups li {
  padding: 1em 0;
}

.matching-groups {
  position: absolute;
  top: 23%;
  left: 0;
  bottom: 0;
  background: black;
  animation: 	curtainDown .4s;
  overflow-y: scroll;
}

.matching-groups .material-icons {
  width: 20px;
}

.results-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  transition: all 0.4s;
  overflow: hidden;
  background-attachment: fixed;
  background: black;
}

.results-cards .material-icons {
  font-size: 1.4em;
  color: yellow;
}

.results-cards .button-secondary  {
  background: black;
} 


.add-activity, .delete-activity {
  border: none;
  right: 0.5em;
  position: absolute;
  transition: all 0.3s;
}

.create-activity {
  align-self: baseline;
  width: 60%;
  margin: auto;
  border: none;
  right: 0.5em;
  transition: all 0.3s;
}

/* in popup */
.create-activity-secondary {
  width: 60%;
  border: none;
  transition: all 0.3s;
  margin: 1em auto;
  padding: 1em;
}

.confirmation-container {
  overflow-x: hidden;
}

.confirmation-container, .confirmation-container div {
  width: 100%;
}

.confirmation-container img {
  width: 100%!important;
  max-height: 25%!important;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  object-fit: cover;
}

.perfect-match-box {
  background: #f9be62!important;
  color: white;
}

.perfect-match-box button {
  background: white!important;
  color: #f96262!important;
}

.perfect-match-box button:hover {
  color: white!important;
  background: black!important;
}

.perfect-match-box .material-icons {
  float: left;
  color: #00000080;
  font-size: 25px;
  z-index: 2;
  position: sticky;
}
/* ======================== */


/* ==============MOBILE SCREENS============== */
@media (max-width: 768px) {
  
  #navigation-class-converter header {
    min-height: 14vh;
    display: block;
  }
  
  #navigation-class-converter span {
    margin: 0!important;
  }
  
  #navigation-class-converter a  {
    padding: 0;
    margin: 1px;
  }
  
  .image-holder {
    height: auto;
    background-attachment: fixed;
    background: rgb(222,73,73);
    background: radial-gradient(circle, rgba(222,73,73,1) 0%, rgba(0,0,0,1) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000aff",endColorstr="#00dcff",GradientType=1);
  }

  .input-group {
    margin-top: 2%!important; 
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
  }
  
  #search-activity-form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60vw;
    overflow: scroll;
    margin: auto!important;
    justify-content: center;
  }
  
  .form-wrapper button {
    max-height: 15%;
    margin: 1em auto;
    width: 20px
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
  }
  /* ========single search result========== */
  
  .results-cards div {
    margin: 1% auto;
    padding: 1%;
    
  }
  
}
