.landing-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: black;
  background-size: 50% 100%, 50% 100%;
  color: #EE6562;
  z-index: 0;
}

.slider-divs {
  position: absolute;
  border: 3px solid black;
  margin: 5% 0;
  height: 80%;
  width: 33.3%;
  z-index: -1;
  background-size: cover!important;
}

.slider-divs:nth-child(1) {
  background: url("../utils/images/turnTable.jpg");
  left: 0;
  animation: slideFirstChild 2s linear;
  z-index: 2;

}

.slider-divs:nth-child(2) {
  background: url("../utils/images/girlGlasses.jpg");
  left: 33.3%;
  animation: slideSecondChild 2s linear;
  background-position-x: 30%;
}

.slider-divs:nth-child(3) {
  background: url("../utils/images/redClub.jpg");
  left: 66.6%;
  animation: slideThirdChild 2s ;

}

.white-box {
  margin: auto;
  margin-top: 5%;
  background-repeat: no-repeat;
  width: 33.3%;
  height: 80%;
  color: white;
  background-color: rgba(255, 49, 59, 0.24);
  font-weight: bold;
  text-align: justify;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 5%;
  animation: animateWhiteBox 2s ;
}
  
  .white-box h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 2.8rem;
    animation: revealTitle 2s;
    animation-fill-mode: forwards;
  }
  
  .tagline {
    margin-top: 70%;
  }
  
  .white-box a, .navbar-brand a {
    font-weight: bold;
    font-size: 2rem;
    color: #FFD951;
    transition: all 0.4s;
  }
  
  .white-box a:hover{ 
    color: rgb(255, 238, 175)!important;
    font-weight: bolder;
    text-decoration: none;
    transform: translateY(-20px)!important;
  }
  