.landing-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: black;
  background-size: 50% 100%, 50% 100%;
  color: #EE6562;
  z-index: 0;
}

.slider-divs {
  position: absolute;
  border: 3px solid black;
  margin: 5% 0 0 0;
  height: 80%;
  width: 33.3%;
  z-index: -1;
  background-size: cover!important;
}

.slider-divs:nth-child(1) {
  background: url("https://images.unsplash.com/photo-1538342315856-a8a3cbc11944?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a61037f7b6935bfd8a85f1bd05b904b8&auto=format&fit=crop&w=1050&q=80");
  left: 0;
  animation: slideFirstChild 0.5s linear;
  z-index: 2;
  alt: "Photo by Denis Cardoso on Unsplash"
}

.slider-divs:nth-child(2) {
  background: url("https://images.unsplash.com/photo-1533619043865-1c2e2f32ff2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3fb9eaca7a85f5b42868eb5763c5ed1&auto=format&fit=crop&w=1050&q=80");
  left: 33.3%;
  animation: slideSecondChild 1s linear;
  background-position-x: 30%;
  alt: "Photo by DIAO DARIUS on Unsplash"

}

.slider-divs:nth-child(3) {
  background: url("https://images.unsplash.com/photo-1514605411468-81f98844a475?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5bcbc9ce882d49a72824357944d4db00&auto=format&fit=crop&w=1950&q=80");
  left: 66.6%;
  animation: slideThirdChild 0.5s ;
  alt: "Photo by Joshua Rawson-Harris on Unsplash"
}

.white-box {
  margin: auto;
  margin-top: 5%;
  background-repeat: no-repeat;
  width: 33.3%;
  height: 80%;
  color: white;
  background-color: rgba(255, 49, 59, 0.24);
  font-weight: bold;
  text-align: justify;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 0 5%;
  animation: animateWhiteBox 0.5s ;
}
  
  .white-box h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 2.8rem;
    animation: revealTitle 0.5s;
    animation-fill-mode: forwards;
  }
  
  .tagline {
    margin-top: 60%;
  }
  
  .white-box a, .navbar-brand a {
    font-weight: bold;
    font-size: 2rem;
    color: #FFD951!important;
    transition: all 0.4s;
  }
  
  .white-box a:hover {
    color: white!important;
  }
  
  
  /* ==============REGISTRATION PAGE============== */
  .registration > .slider-divs{
    filter: grayscale(1) brightness(1.3);
    animation: none;
  }

  .registration >.white-box, .registration > slider-divs:nth-child(2) {
    background-color: #80808070;
  }
  
  /* ==============MOBILE SCREENS============== */
@media (max-width: 768px) {
  .white-box {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    background: #EE6562;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    justify-content: center;
  }
  
  .slider-divs {
    display: none;
  }
}
