.login-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: rgb(238,101,98);
  background: linear-gradient(180deg, rgba(238,101,98,1) 50%, rgba(65,45,60,1) 50%);
  color: #EE6562;
  z-index: 0;
}

.LoginForm-root-1 {
  flex-direction: column;
  margin: 25% auto 0 auto;
  width: 25%;
  background: white;
  
}

.login-page {
  text-align: center;
}

.kep-login-facebook {
  background-color: #4267b2!important;
  width: 125px!important;
  height: 125px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}