.login-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: url("https://images.unsplash.com/photo-1504326008149-71dbc00aa3ae?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e82e4e35e856a7507fb7f7c4eef10e5&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.curtain {
  background: black;
  z-index: 1000;
  height: 0;
}

.login-page button {
  transition: all 0.4s;
}

.login-page button:hover {
  transform: scale(1.1);
}

.login-actions {
  padding-top: 1em;
  overflow: hidden;
  width: 25%;
  background: rgba(14, 14, 14, 0.555);
  margin: 1em auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  z-index: 1;
  animation: zoomInBg 1s linear ;
}

.choices {
  flex-direction: column;
  display: flex;
  padding-top: 1em;
  z-index: 1
}

.button-primary {
  color: #35b9d0a2!important;
  background: white!important;
  transition: all 0.4s;
}

.button-primary:hover {
  color: white!important;
  background: #35b9d0a2!important;
}

.button-primary:active {
  background: #694f63;
}

.login-actions button {
  height: 2.6em!important;
  width: 10em!important;
  text-align: center;
  margin: 1em auto;
  padding: 1px!important;
  font-size: 0.7rem!important;
  color: white;
  text-transform: uppercase
}

.login-class-converter {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  width: 80%;
  background: rgba(255, 255, 255, 0.555);
  color: rgb(0, 0, 0)!important;
  transition: all 0.4s;
}

.login-class-converter div {
  width: 98%;
  margin: 0.25em  auto 0 auto;
}

.login-class-converter:nth-child(3)  {
  margin-right: 75%!important;
  width: 899px!important;
}
.kep-login-facebook,  {
  background-color: #4267b2!important;
}
