.login-page {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: url("../utils/images/feetRoofTop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.curtain {
  background: black;
  z-index: 1000;
  height: 0;
}

.login-page button {
  transition: all 0.4s;
}

.login-page button:hover {
  transform: scale(1.1);
}

.login-actions {
  padding-top: 1em;
  overflow: hidden;
  width: 25%;
  background: rgba(14, 14, 14, 0.555);
  margin: 1em auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  z-index: 1;
  animation: zoomInBg 1s linear ;
}

.choices {
  flex-direction: column;
  display: flex;
  padding-top: 1em;
  z-index: 1
}

.button-primary {
  color: #EE6562!important;
  background: #FFD951!important;
  transition: all 0.4s;
}

.button-primary:hover {
  background: #412d3c!important;
  color: white!important;
}

.button-primary:active {
  background: #694f63;
}

.login-actions button {
  height: 20px!important;
  width: 30%!important;
  text-align: center;
  margin: 1em auto;
  padding: 1px!important;
  font-size: 0.7rem!important;
  color: white;
  text-transform: uppercase
}


.LoginForm-root-1 {
  flex-direction: column;
  margin: 1em auto;
  width: 80%;
  background: rgba(255, 255, 255, 0.555);
  color: rgb(0, 0, 0)!important;
  transition: all 0.4s;
}

.kep-login-facebook,  {
  background-color: #4267b2!important;
}
