.standard-modal {
  position: absolute;
  background: rgb(0, 0, 0);
  color: #ffffff;
  text-align: center;
  padding: 5px;
  z-index: 50;
  height: 40vh;
  width: 40vw;
}

.standard-modal p, .standard-modal div {
  margin: 2em auto;
}

.standard-modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cancel-action {
  padding: 1%;
  background: rgb(122, 18, 18);
}

.confirm-action {
  padding: 1%;
  background: rgb(9, 17, 119);
  color: white;
}