.standard-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.91);
  color: #ffedc4;
  text-align: center;
  font-size: 1.2em;
  padding: 5px;
  z-index: 50;
  height: 30vh;
  width: 30vw;
  -webkit-box-shadow: 4px 4px #6e50309e;
  box-shadow: 2px 2px #6e503094;
  border: 3px #c9965869 inset;
}

.standard-modal p, .standard-modal div {
  margin: 2em auto;
}

.standard-modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cancel-action {
  padding: 1%;
  background: rgb(122, 18, 18);
}

.confirm-action {
  padding: 1%;
  background: rgb(9, 17, 119);
  color: white;
}