#navigation-class-converter header{
  background: #008fb4!important;
  position: fixed;
  top: 0;
}

#simple-menu {
  max-width: 150px;
  background: transparent;
  max-height: 100%;
}

/* Useless div from menu module */
#simple-menu div:nth-child(1) {
  display: none;
}