/* ==============New navMenu============== */
.navigation-container {
  position: fixed;
  z-index: 10;
  top: 0;
  display: inline-flex;
  width: 100%;
  left: 0;
  padding: 0;
  background: black;
  height: 60px;
}

.navigation-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1em;
  z-index: 100;
  color: #f66062;
  text-align: right;
  padding: 1%;
}

.user-name {
  margin: 0 5%;
  color: white;
  font-size: 1.5em;
}
.navigation-left {
  width: 50%;
  font-size: 200%;
  z-index: 100;
  color: #f66062;
  text-align: left;
  padding: 1%;
}

.nav-dropdown {
  width: 15%;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: center;
  animation: slideDown .5s ease;
}

.nav-dropdown li {
  margin: 1% auto;
}




