#navigation-class-converter header{
  background: #008fb4!important;
  position: fixed;
  top: 0;
}

/* OVERRIDE MATERIAL UI HOVER */
header button:hover, header button:active  {
  background: transparent!important;
}

/* DROPDOWN ICON */
#menu-button img {
  min-width: 20px;
  max-width: 20px;
  height: auto;
  margin: auto
}

/* REMOVE LEFT MARGin ON LoGO */
#navigation-class-converter  span {
  justify-content: normal!important;
}

#simple-menu {
  max-width: 150px;
  background: transparent;
  max-height: 100%;
}

#simple-menu a {
  color: #35b9d0a2!important;
  text-decoration: none!important;
  transition: all 0.4s;
}

#simple-menu li {
  transition: all 0.4s;
}

/* Useless div from menu module */
#simple-menu div:nth-child(1) {
  display: none;
}

