.payments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: url(https://image.shutterstock.com/z/stock-vector-golden-glittering-dark-background-vector-luxury-background-for-posters-banners-or-cards-790334740.jpg);
    background-position-y: 69%;
}

.payments-container button {
    width: 15%;
    margin: 2% auto;
}

.payment-section {
    width: 33%;
    margin: 0 auto;
}

.payment-form {
    flex-direction: column;
    display: flex;
    transition: all .3s;
    animation: revealForm .5s linear;
}

.payment-form label {
    margin: 0 auto;
    color: #f68f30;
    font-weight: 700;
    background: #0b0b0b;
    width: 100%;
    padding: 2%;
}

.payment-form input {
    margin: 1% 0 5% 0;
}

.payment-form button {
    width: 45%;
    margin: 2% auto;
}

.stripe-card-input {
    background: #fff900;
    color: #665353;
    padding: 5% 0;
    font-size: 2em;
    margin: 1% 0 5% 0;
}

.balance-section {
    margin: 1% auto;
    width: 70%;
    height: 70%;
    transition: all .3s;
    animation: revealForm .5s linear;
}

.title-row .material-icons {
    color: yellow;
    font-size: 1.2em;
    vertical-align: text-bottom;
}

.balance-section h3 {
    color: white;
}

.balance-summary-container {
    width: 100%;
    height: 40%;
    margin: auto;
}

.balance-summary-container table {
    flex-direction: column;
    width: 70%;
    height: 70%;
    margin: auto;
    background: black;
    color: #ffa13d;
}

.balance-summary-container td {
    background: white;
    color: black;
}

.balance-summary-container tr {
    height: 30%;
}