.payments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.payments-container button {
    width: 15%;
    margin: 2% auto;
}

.payment-section {
    width: 33%;
    margin: 0 auto;
    transition: all .3s;
}

.payment-form {
    flex-direction: column;
    display: flex;
    transition: all .3s;
}

.payment-form label {
    margin: 0 auto;
    color: white;
    background: #d35454;
    width: 100%;
    padding: 2%;
}

.payment-form input {
    margin: 1% 0 5% 0;
}

.payment-form button {
    width: 45%;
    margin: 2% auto;
}

.balance-section {
    margin: 1% auto;
    width: 70%;
    height: 70%;
}

.balance-section h3 {
    color: white;
}

.balance-summary-container {
    width: 100%;
    margin: auto;
}

.balance-summary-container table {
    flex-direction: column;
    width: 70%;
    margin: auto;
    background: #d35454;
    color: white;
}

.balance-summary-container td {
    background: white;
    color: black;
}